type='package'
packageName='parseCLI'
shortDescription='Utility to create CLI tools with argument parsing and color support'
version='1.0.0'
author='stringmanolo'

files:
"./other_languages/bash/parseCLI" 'https://github.com/stringmanolo/simpleArgumentsParser/raw/master/other_languages/bash/parseCLI'

bundleFiles=false
bundleFileName=''
isPackageBundlable=false
preserveFolderFiles=false
dependencies=''
installScript=''
uninstallScript=''
compatibleShells='bash,zsh'
license='GPLV3'
repository='https://github.com/stringmanolo/simpleArgumentsParser'
documentation='https://github.com/stringmanolo/simpleArgumentsParser#readme'
tags='cli,arguments,parser,bash,colors'
